html,body, section, ul, li, a {
		padding: 0;
		margin: 0;
	}
	a {
		text-decoration: none;
		color: #2c2e2f;
	}
	p {
		color: #f5f5f5;
	}
	body {
		background: #f5f5f5;
		font-family: "HelveticaNeue","Helvetica Neue",helvetica,Arial,sans-serif;
		font-weight: normal;
		color: #2c2e2f;
		padding-top: 6%;
		/*overflow: hidden;*/
	}
	.trans {
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
		.zero {
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;
	}
	nav.header {
		display: block;
		height:80px;
		line-height: 80px;
		background: url(../img/pp-logo.svg) no-repeat 20px 26px #fff;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	
	ul.header-nav {
		margin-left: 150px;
		list-style: none;
		float: left;
	}
	ul.header-nav li {
		float: left;
		margin-right:30px;
	}
	ul.header-nav li a {
		display: block;
		height: 80px;
		width: 100%;
	}
	span.current {
		display: block;
		height: 4px;
		width: 100%;
		background: #ccc;
		margin-top: -20px;

  background: -webkit-linear-gradient(90deg, #009c9b 10%, #019ada 90%);
  background:    -moz-linear-gradient(90deg, #009c9b 10%, #019ada 90%);
  background:     -ms-linear-gradient(90deg, #009c9b 10%, #019ada 90%);
  background:      -o-linear-gradient(90deg, #009c9b 10%, #019ada 90%);
  background:         linear-gradient(90deg, #009c9b 10%, #019ada 90%);
        
	}
	ul.header-actions {
		margin-right: 25px;
		list-style: none;
		float: right;
	}
	ul.header-actions li {
		float: right;
		margin-left:30px;
	}
	ul.header-actions li a {
		display: block;
		height: 80px;
		width: 100%;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
	.content { }

.search-container {
	max-width: 600px;
	margin: 120px auto 0 auto;
	text-align: center;
	position: relative;
}
.search-container h1 {
	font-weight: 300;
	font-size: 2em;
	line-height: 2em;
}
.search-container input {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 12px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:solid 1px #9da3a6;
	margin: 40px 0 0 0;
}
.user-thumbs {
	max-width: 600px;
	margin: 30px auto;
	position: relative;
}
.user-thumb {
	width:100px;
	height:100px;
	line-height:100px;
	padding: 2px;
	background: #D3DADE;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	float: left;
	position: absolute;
	z-index: 99;
}
.user-thumb:first-child { 
	margin-left: 0;
}
.user-thumb:nth-child(0) { 
	margin-left: 0;
}
.user-thumb:nth-child(1) { 
	margin-left: 129px;
}
.user-thumb:nth-child(2) { 
	margin-left: 249px;
}
.user-thumb:nth-child(3) { 
	margin-left: 369px;
}
.user-thumb:nth-child(4) { 
	margin-left: 489px;
}
.user-thumb .thumb-inner {
	width:96px;
	height:96px;
	overflow: hidden;
	-webkit-border-radius: inherit;
	border-radius: inherit;
}
.user-thumb .thumb-inner img {
	width: 100%;
}

.add-money-container {
	width: 400px;
	/*margin: auto;*/
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
	background: #fff;
	height:250px;
	padding-top: 58px;
}
.add-money-container h3 {
	text-transform: uppercase;
}
.add-money-container input.money {
	width: 90%;
	height: 90px;
	line-height: 90px;
	text-align: center;
	margin: 10px auto 0 auto;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	font-size: 94px; font-weight: 100; 
	letter-spacing: 1px;"
}
.add-money-container .currencies {
	width: 80px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	margin: 10px auto 0 auto;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
	font-size: 22px; font-weight: 300; 
	letter-spacing: 1px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/arrow.svg) no-repeat right center;
    
    text-indent: 0.01px;
    text-overflow: '';
}

.move-thumb { 
  -webkit-animation: movethumb 0.7s ease-in-out 1 forwards; 
  -moz-animation:    movethumb 0.7s ease-in-out 1 forwards;
  -o-animation:      movethumb 0.7s ease-in-out 1 forwards; 
  animation:         movethumb 0.7s ease-in-out 1 forwards;
}
.move-search {
  -webkit-animation: movesearch 0.5s ease-in-out 1 forwards;
  -moz-animation:    movesearch 0.5s ease-in-out 1 forwards;
  -o-animation:      movesearch 0.5s ease-in-out 1 forwards; 
  animation:         movesearch 0.5s ease-in-out 1 forwards;
}
.move-money {
  -webkit-animation: movemoney 0.7s ease-in-out 1 forwards;
  -moz-animation:    movemoney 0.7s ease-in-out 1 forwards;
  -o-animation:      movemoney 0.7s ease-in-out 1 forwards;
  animation:         movemoney 0.7s ease-in-out 1 forwards;
}

	/* ANIMATIONS */

@-webkit-keyframes movesearch {
  from {
     top:0;
     left: 0;   
   }
   to {
      top:-500px;
      left: 0;
      opacity: 0;
   }
}
@-moz-keyframes movesearch {
  from {
     top:0;
     left: 0;   
   }
   to {
      top:-500px;
      left: 0;
      opacity: 0;
   }
}
@-o-keyframes movesearch {
  from {
     top:0;
     left: 0;   
   }
   to {
      top:-500px;
      left: 0;
      opacity: 0;
   }
}
@keyframes movesearch {
  from {
     top:0;
     left: 0;   
   }
   to {
      top:-500px;
      left: 0;
      opacity: 0;
   }
}



@-webkit-keyframes movethumb {
  from {
      top: 0;
      left: 0;
      position: absolute;
   }
   to {
      top: -205px;
      left: 300px;
      margin-left: -55px;
      background: #019CB0;
      position: absolute;

   }
}
@-moz-keyframes movethumb {
   from {
      top: 0;
      left: 0;
      position: absolute;
   }
   to {
      top: -205px;
      left: 300px;
      margin-left: -55px;
      background: #019CB0;
      position: absolute;

   }
}
@-o-keyframes movethumb {
  from {
      top: 0;
      left: 0;
      position: absolute;
   }
   to {
      top: -205px;
      left: 300px;
      margin-left: -55px;
      background: #019CB0;
      position: absolute;

   }
}
@keyframes movethumb {
  from {
      top: 0;
      left: 0;
      position: absolute;
   }
   to {
      top: -205px;
      left: 300px;
      margin-left: -55px;
      background: #019CB0;
      position: absolute;

   }
}


@-webkit-keyframes movemoney {
   from {
     margin-top: 40%;
       
   }
   to {
      margin-top: -12.5%;
   }
}
@-moz-keyframes movemoney {
  from {
     margin-top: 40%;
       
   }
   to {
      margin-top: -12.5%;
   }
}
@-o-keyframes movemoney {
   from {
     margin-top: 40%;
       
   }
   to {
      margin-top: -12.5%;
   }
}
@keyframes movemoney {
   from {
     margin-top: 40%;
       
   }
   to {
      margin-top: -12.5%;
   }
}
